
.NPCRlogo {
  height: 90px;
  width: 250px;
  background-image: url('http://nebula.wsimg.com/2f1eca3acaefb1a2ec8a8c2703b7590c?AccessKeyId=9CFDE2AF3455DBF2F5B3&disposition=0&alloworigin=1');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: green;
  border-radius: 10px;
  text-align: center;
  position: relative;

}

#logolink {
  position: absolute;
  background-color: transparent;
  top: 8px; 
  left: 15px; 
  width: 220px; 
  height: 80px;
}

.title {
  text-align: center;
  margin-left: 30px;
  width: 1000px;
  height: 90px;
  margin-top: 25px;
  display: block;
  font-size: 30px;
  line-height: 30px;
  text-indent: 50px;
  color: darkblue;
  position: absolute;
  left: 200px;
}


 #map {
  height: 500px;
}


h2 {
 text-align: left;
 background-color: green;
 text-indent: 2000px;
}

.panel.with-nav-tabs .panel-default{
    width: 1285;
}


.Source {
  text-indent: 30px;
}

.nav.nav-tabs {
  font-size: 16px;
}

